
*.slxc

slpjr
slprj/**
simscape_model/slprj/
simscape_model/slprj/**

generated_code_simscape/**

!generated_code_simscape/hw_interface/
!generated_code_simscape/hw_interface/**

!generated_code_simscape/makefile.mk
!generated_code_simscape/ert_main.c
!generated_code_simscape/mechatronic_system.c
!generated_code_simscape/mechatronic_system.h