
*.slxc

slpjr
slprj/**
simscape_model/slprj/
simscape_model/slprj/**

generated_code_for_rpi/**

!generated_code_for_rpi/hw_interface/
!generated_code_for_rpi/hw_interface/**

!generated_code_for_rpi/makefile.mk
!generated_code_for_rpi/ert_main.c
!generated_code_for_rpi/mechatronic_system.c
!generated_code_for_rpi/mechatronic_system.h